.chat {
    height: 5rem;
    padding: 6px;
    border-bottom: 1px solid #EED2CC;
    cursor: pointer;
    &.active {
        background-color: #FBF7F4;
        color: #A1683A;        
        .chat-summary {
            color: #a1683aad;
        }
    }
}
.chat-header {
    display: flex;
    justify-content: space-between;
    h2 {
        font-size: 1.2rem;
    }
    time {
        font-style: italic;
    }
}
.chat-summary {
    color: #dbdbdb;
}